:80 {
  # Establece la raíz del sitio al directorio donde Caddy espera los archivos por defecto
  root * /usr/share/caddy

  # Activa la compresión gzip y zstd para servir los archivos más rápido
  encode gzip zstd

  # Sirve los archivos estáticos del directorio raíz
  # Para cualquier solicitud que no encuentre un archivo, la redirige a /index.html
  # Esto permite que el enrutador del lado del cliente (React Router) maneje la ruta.
  file_server
  try_files {path} /index.html
}